# Matikan daftar folder
Options -Indexes

# Jadikan login.php sebagai halaman utama subdomain
DirectoryIndex login.php

# Konfigurasi logging PHP
php_value error_log "./logs/php_error.log"
php_value display_errors 0
php_value log_errors 1
php_value error_reporting E_ALL